@media only screen and (max-width: 600px) {
  .header {
    height: 80px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .header a h1 {
    font-size: 1.5rem;
  }
  .header ul li {
    display: none;
  }
  .header .fa-bars {
    display: block;
    font-size: 1.5rem;
  }
  #landing-page {
    height: 100vh;
    width: 100%;
    padding: 0 5%;
  }
  #landing-page .landing {
    height: 100%;
    width: 100%;
  }
  #landing-page .landing .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #landing-page .landing .title h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    width: 80%;
  }
  #landing-page .landing .title p {
    font-size: 1rem;
  }
  #landing-page .landing img {
    display: none;
  }
  #landing-page .sidebar-mobile {
    width: 45%;
  }
  #about-page {
    height: auto;
    width: 100%;
    padding: 8% 5%;
  }
  #about-page .information {
    height: auto;
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
  }
  #about-page .information .about {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #about-page .information .about h2 {
    font-size: 2.5rem;
    transform: translateY(0);
  }
  #about-page .information .about p {
    font-size: 1rem;
  }
  #about-page .information img {
    width: 100%;
    height: 200px;
  }
  #product-page {
    height: auto;
    width: 100%;
    padding: 8% 5%;
  }
  #product-page .product-container {
    height: 100%;
    width: 100%;
    gap: 1.5rem;
  }
  #product-page .product-container .second-title {
    width: 100%;
    transform: translateX(0);
  }
  #product-page .product-container .second-title h2 {
    font-size: 2.5rem;
    margin: 0;
  }
  #product-page .product-container .second-title p {
    font-size: 1rem;
  }
  #product-page .product-container .items {
    padding-top: 0;
    flex-direction: column;
    gap: 1.5rem;
  }
  #product-page .product-container .items .highlights {
    flex-direction: column;
    padding-bottom: 0;
    gap: 1.5rem;
  }
  #product-page .product-container .items .highlights .coffee {
    height: 100%;
    width: 100%;
    align-items: center;
  }
  #product-page .product-container .items .highlights .coffee img {
    width: 50%;
    height: 180px;
  }
  #product-page .product-container .items .highlights .coffee h3 {
    width: auto;
    font-size: 1.5rem;
  }
  #product-page .product-container .items button {
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    font-size: 13px;
  }
  #product-page::after {
    display: none;
  }
  #review-page {
    height: auto;
    width: 100%;
    padding: 8% 5%;
  }
  #review-page .ratings-container {
    height: 100%;
    gap: 1rem;
  }
  #review-page .ratings-container h2 {
    width: 100%;
    font-size: 2.5rem;
  }
  #review-page .ratings-container .rates {
    flex-direction: column;
    height: 100%;
    gap: 1rem;
  }
  #review-page .ratings-container .rates .note {
    width: 100%;
    font-style: normal;
    font-size: 1rem;
  }
  #review-page .ratings-container .rates .card-section {
    width: 100%;
    gap: 1rem;
  }
  #review-page .ratings-container .rates .card-section .cards .profile {
    gap: 30px;
    width: 100%;
    height: 100%;
  }
  #review-page .ratings-container .rates .card-section .cards .profile .description {
    width: 100%;
    height: 100%;
  }
  #contact-page {
    height: auto;
    width: 100%;
    padding: 8% 5%;
  }
  #contact-page .contact-container {
    height: 100%;
    gap: 1rem;
  }
  #contact-page .contact-container h2 {
    font-size: 2.5rem;
  }
  #contact-page .contact-container .contact-content {
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;
    gap: 1.5rem;
  }
  #contact-page .contact-container .contact-content .socials {
    width: 100%;
    padding-left: 1.5rem;
    gap: 2rem;
  }
  #contact-page .contact-container .contact-content .socials .social-section {
    gap: 1rem;
    align-items: center;
  }
  #contact-page .contact-container .contact-content .socials .social-section .logo {
    font-size: 20px;
    width: auto;
  }
  #contact-page .contact-container .contact-content .socials .social-section p {
    font-size: 1rem;
    width: 100%;
    padding-left: 1rem;
  }
  #contact-page .contact-container .contact-content .feedback {
    width: 100%;
  }
  #contact-page .contact-container .contact-content .feedback p {
    font-size: 1rem;
  }
  #contact-page .contact-container .contact-content .feedback textarea {
    height: 200px;
    border: none;
    width: 100%;
    font-size: 1rem;
  }
  #contact-page .contact-container .contact-content .feedback button {
    padding: 0.5rem 1rem;
    font-size: 13px;
  }
  #contact-page .card-result {
    height: 30%;
    width: 80%;
    padding: 10px;
    gap: 8px;
  }
  #contact-page .card-result .section {
    width: auto;
    text-align: center;
  }
  #contact-page .card-result .section h3 {
    font-size: 1.3rem;
  }
  #contact-page .card-result .result-section {
    padding: 8px;
  }
  #footer-page {
    height: auto;
    width: 100%;
    padding: 5%;
  }
  #footer-page .footer-container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: start;
  }
  #footer-page .footer-container h3 {
    font-size: 1rem;
  }
  #footer-page .footer-container p {
    font-size: 0.6rem;
  }
}/*# sourceMappingURL=responsive.css.map */