// Mobile
@media only screen and (max-width: 600px) {
    .header {
        height: 80px;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        a {
            h1 {
                font-size: 1.5rem;
            }
        }
        ul li {
            display: none;
        }
        .fa-bars {
            display: block;
            font-size: 1.5rem;
        }
    }
    #landing-page {
        height: 100vh;
        width: 100%;
        padding: 0 5%;
        .landing {
            height: 100%;
            width: 100%;
            .title {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                h1 {
                    font-size: 3rem;
                    margin-bottom: 30px;
                    width: 80%;
                }
                p {
                    font-size: 1rem;
                }
            }
            img {
                display: none;
            }
        }
        .sidebar-mobile {
            width: 45%;
        }
    }
    #about-page {
        height: auto;
        width: 100%;
        padding: 8% 5%;
        
        .information {
            height: auto;
            width: 100%;
            flex-direction: column;
            gap: 1.5rem;
            .about {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                h2 {
                    font-size: 2.5rem;
                    transform: translateY(0);
                }
                p {
                    font-size: 1rem;
                }
            }
            img {
                width: 100%;
                height: 200px;
            }
        }
    }
    #product-page {
        height: auto;
        width: 100%;
        padding: 8% 5%;

        .product-container {
            height: 100%;
            width: 100%;
            gap: 1.5rem;
            .second-title {
                width: 100%;
                transform: translateX(0);
                h2 {
                    font-size: 2.5rem;
                    margin: 0;
                }
                p {
                    font-size: 1rem;
                }
            }
            .items {
                padding-top: 0;
                flex-direction: column;
                gap: 1.5rem;
                .highlights {
                    flex-direction: column;
                    padding-bottom: 0;
                    gap: 1.5rem;
                    .coffee {
                        height: 100%;
                        width: 100%;
                        align-items: center;
                        img {
                            width: 50%;
                            height: 180px;
                        }
                        h3 {
                            width: auto;
                            font-size: 1.5rem;
                        }
                    }
                }
                button {
                    text-transform: uppercase;
                    padding: .5rem 1rem;
                    font-size: 13px;
                }
            }
        }
    }
    #product-page::after {
        display: none;
    }
    #review-page {
        height: auto;
        width: 100%;
        padding: 8% 5%;
        .ratings-container {
            height: 100%;
            gap: 1rem;
            h2 {
                width: 100%;
                font-size: 2.5rem;
            }
            .rates {
                flex-direction: column;
                height: 100%;
                gap: 1rem;
                .note {
                    width: 100%;
                    font-style: normal;
                    font-size: 1rem;
                }
                .card-section {
                    width: 100%;
                    gap: 1rem;
                    .cards {
                        .profile {
                            gap: 30px;
                            width: 100%;
                            height: 100%;
                            .description {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    #contact-page {
        height: auto;
        width: 100%;
        padding: 8% 5%;
        .contact-container {
            height: 100%;
            gap: 1rem;
            h2 {
                font-size: 2.5rem;
            }
            .contact-content {
                flex-direction: column;
                height: 100%;
                width: 100%;
                padding: 0;
                gap: 1.5rem;
                .socials {
                    width: 100%;
                    padding-left: 1.5rem;
                    gap: 2rem;
                    .social-section {
                        gap: 1rem;
                        align-items: center;
                        .logo {
                            font-size: 20px;
                            width: auto;
                        }
                        p {
                            font-size: 1rem;
                            width: 100%;
                            padding-left: 1rem;
                        }
                    }
                }
                .feedback {
                    width: 100%;
                    p {
                        font-size: 1rem;
                    }
                    textarea {
                        height: 200px;
                        border: none;
                        width: 100%;
                        font-size: 1rem;
                    }
                    button {
                        padding: .5rem 1rem;
                        font-size: 13px;
                    }
                }
            }
        }
        .card-result {
            height: 30%;
            width: 80%;
            padding: 10px;
            gap: 8px;
            .section {
                width: auto;
                text-align: center;
                h3 {
                    font-size: 1.3rem;
                }
            }
            .result-section {
                padding: 8px;
            }
        }
    }
    #footer-page {
        height: auto;
        width: 100%;
        padding: 5%;
        .footer-container {
            height: 100%;
            width: 100%;
            flex-direction: column;
            align-items: start;
            h3 {
                font-size: 1rem;
            }
            p {
                font-size: .6rem;
            }
        }
    }
}