@media only screen and (max-width: 700px) {
  .header {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    padding: 0 35px;
    height: 80px;
    position: fixed;
    width: 100%;
  }
  .header a h1 {
    font-size: 1.5rem;
  }
  .header ul li {
    display: none;
  }
  .header button {
    display: none;
  }
  .header .fa-bars {
    display: block;
    font-size: 1.5rem;
  }
  #landing-page {
    padding: 80px 35px 50px 35px;
    height: 100vh;
    display: flex;
  }
  #landing-page .landing {
    align-items: center;
    height: auto;
  }
  #landing-page .landing .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(25%);
  }
  #landing-page .landing .title h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  #landing-page .landing .title p {
    text-align: center;
    font-size: 0.8rem;
    width: 60%;
  }
  #landing-page .landing img {
    display: none;
  }
  #about-page {
    height: auto;
    padding: 50px 35px;
  }
  #about-page .information {
    height: auto;
    flex-direction: column;
    gap: 30px;
  }
  #about-page .information .about {
    width: auto;
    height: auto;
  }
  #about-page .information .about h2 {
    font-size: 2rem;
    margin-bottom: 65px;
    width: 200px;
    height: 0;
    transform: translateY(0);
  }
  #about-page .information .about p {
    font-size: 1rem;
    height: 100%;
  }
  #about-page .information img {
    width: 100%;
    height: 280px;
    box-shadow: 5px 5px 10px black;
  }
  #product-page {
    padding: 50px 35px;
    height: auto;
  }
  #product-page .product-container {
    height: auto;
    gap: 3rem;
  }
  #product-page .product-container .second-title {
    width: 50%;
  }
  #product-page .product-container .second-title h2 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  #product-page .product-container .second-title p {
    font-size: 0.8rem;
  }
  #product-page .product-container .items {
    flex-direction: column;
    padding-top: 0;
    gap: 3rem;
  }
  #product-page .product-container .items .highlights {
    flex-direction: column;
    padding-bottom: 0;
    gap: 1rem;
  }
  #product-page .product-container .items .highlights .coffee img {
    height: 200px;
    width: 230px;
    box-shadow: 5px 5px 10px black;
  }
  #product-page .product-container .items .highlights .coffee h3 {
    font-size: 1.5rem;
    right: -5px;
    width: 100%;
  }
  #product-page .product-container .items button {
    font-size: 0.8rem;
    height: auto;
    width: auto;
    padding: 0.8rem;
    transition: none;
  }
  #product-page::after {
    display: none;
  }
  #review-page {
    padding: 50px 35px;
    height: auto;
  }
  #review-page .ratings-container {
    height: auto;
    width: 100%;
  }
  #review-page .ratings-container h2 {
    font-size: 2rem;
    width: 100%;
    margin-bottom: 5px;
  }
  #review-page .ratings-container .rates {
    flex-direction: column;
    height: auto;
    gap: 3rem;
    width: 100%;
  }
  #review-page .ratings-container .rates .note {
    align-self: flex-start;
    width: 65%;
    font-size: 0.8rem;
    font-style: normal;
  }
  #review-page .ratings-container .rates .card-section {
    width: 100%;
  }
  #review-page .ratings-container .rates .card-section .cards {
    height: 100px;
  }
  #review-page .ratings-container .rates .card-section .cards .profile {
    height: 100%;
  }
  #review-page .ratings-container .rates .card-section .cards .profile img {
    height: 100%;
    width: 75px;
  }
  #review-page .ratings-container .rates .card-section .cards .profile .description h3 {
    font-size: 1rem;
  }
  #review-page .ratings-container .rates .card-section .cards .profile .description p {
    font-size: 0.8rem;
  }
  #contact-page {
    padding: 50px 35px;
    height: auto;
  }
  #contact-page .contact-container {
    height: auto;
    gap: 1rem;
    align-items: center;
  }
  #contact-page .contact-container h2 {
    align-self: flex-start;
    font-size: 2rem;
  }
  #contact-page .contact-container .contact-content {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
  #contact-page .contact-container .contact-content .socials {
    gap: 1rem;
    width: 100%;
  }
  #contact-page .contact-container .contact-content .socials .social-section {
    font-size: 1rem;
    align-items: center;
  }
  #contact-page .contact-container .contact-content .socials .social-section .logo {
    font-size: 1.3rem;
  }
  #contact-page .contact-container .contact-content .socials .social-section p {
    font-size: 1rem;
  }
  #contact-page .contact-container .contact-content .feedback {
    width: 100%;
    gap: 1rem;
  }
  #contact-page .contact-container .contact-content .feedback p {
    padding-top: 1.3rem;
    font-size: 1.3rem;
  }
  #contact-page .contact-container .contact-content .feedback textarea {
    width: 100%;
    height: 200px;
    font-size: 18px;
  }
  #contact-page .contact-container .contact-content .feedback button {
    font-size: 0.8rem;
    height: auto;
    width: auto;
    padding: 0.8rem;
  }
  #contact-page .card-result {
    top: 28%;
    left: 25%;
    height: 200px;
    width: 350px;
  }
  #footer-page {
    padding: 50px 35px;
    height: auto;
  }
  #footer-page .footer-container h3 {
    font-size: 1rem;
  }
  #footer-page .footer-container p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 400px) {
  .header {
    padding: 0 30px;
  }
  #landing-page {
    height: 100vh;
    padding: 30px 25px;
  }
  #landing-page .landing .title h1 {
    font-size: 3rem;
    width: 100%;
  }
  #about-page {
    height: auto;
    padding: 30px 25px;
  }
  #about-page .information {
    gap: 25px;
  }
  #about-page .information .about {
    height: auto;
  }
  #about-page .information .about h2 {
    transform: translateY(0);
    height: 0;
  }
  #about-page .information img {
    height: 200px;
  }
  #product-page {
    height: auto;
    padding: 30px 25px;
  }
  #product-page .product-container {
    height: 100%;
    gap: 25px;
  }
  #product-page .product-container .items {
    gap: 40px;
  }
  #product-page .product-container .items .highlights .coffee {
    height: auto;
    width: 100%;
  }
  #product-page .product-container .items .highlights .coffee img {
    height: 180px;
    width: 180px;
  }
  #product-page .product-container .items .highlights .coffee h3 {
    font-size: 1.3rem;
  }
  #review-page {
    padding: 30px 25px;
    height: 100vh;
  }
  #review-page .ratings-container .rates {
    gap: 35px;
  }
  #review-page .ratings-container .rates .card-section {
    gap: 20px;
  }
  #review-page .ratings-container .rates .card-section .cards .profile {
    width: auto;
    gap: 20px;
  }
  #review-page .ratings-container .rates .card-section .cards .profile img {
    height: 100%;
    width: 70px;
  }
  #review-page .ratings-container .rates .card-section .cards .profile .description {
    height: auto;
    width: 100%;
  }
  #contact-page {
    padding: 30px 25px;
    height: auto;
  }
  #contact-page .contact-container .contact-content .feedback p {
    font-size: 1.2rem;
  }
  #contact-page .contact-container .contact-content .feedback textarea {
    height: 180px;
    font-size: 14px;
  }
  #contact-page .contact-container .contact-content .feedback button {
    padding: 0.8rem 1rem;
  }
  #contact-page .card-result {
    height: 200px;
  }
  #contact-page .card-opened {
    top: 40%;
    right: 40%;
    transform: translate(-20%, -20%);
  }
  #footer-page {
    padding: 30px 25px;
    height: auto;
  }
  #footer-page .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }
  #footer-page .footer-container h3 {
    font-size: 1rem;
  }
  #footer-page .footer-container p {
    font-size: 10px;
  }
}
@media only screen and (max-width: 380px) {
  .header {
    width: 100%;
    padding: 20px;
  }
  #landing-page {
    height: 100vh;
    width: 100%;
    padding: 30px 20px;
  }
  #landing-page .landing .title {
    transform: translateY(10%);
  }
  #landing-page .landing .title h1 {
    font-size: 2.3rem;
  }
  #landing-page .landing .title p {
    font-size: 0.8rem;
  }
  #landing-page .sidebar-mobile {
    width: 45%;
  }
  #landing-page .sidebar-mobile .wrapper ul li a {
    font-size: 1rem;
  }
  #about-page {
    height: auto;
    padding: 30px 20px;
  }
  #about-page .information {
    height: auto;
    gap: 20px;
  }
  #about-page .information .about {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  #about-page .information .about h2 {
    font-size: 2rem;
    transform: translateY(0);
    height: 0;
    width: auto;
  }
  #about-page .information .about p {
    font-size: 1rem;
    height: 100%;
  }
  #about-page .information img {
    width: 100%;
    height: 200px;
  }
  #product-page {
    padding: 30px 20px;
    height: auto;
  }
  #product-page .product-container {
    height: 100%;
    gap: 30px;
  }
  #product-page .product-container .second-title {
    transform: translateY(0);
    width: 100%;
    height: auto;
  }
  #product-page .product-container .second-title h2 {
    width: 100%;
    margin: 0;
  }
  #product-page .product-container .second-title p {
    font-size: 0.8rem;
  }
  #product-page .product-container .items {
    height: 100%;
    gap: 45px;
  }
  #product-page .product-container .items .highlights {
    height: 100%;
    gap: 18px;
  }
  #product-page .product-container .items .highlights .coffee {
    height: auto;
    width: 100%;
  }
  #product-page .product-container .items .highlights .coffee img {
    height: 150px;
    width: 200px;
  }
  #product-page .product-container .items .highlights .coffee h3 {
    font-size: 1.3rem;
  }
  #product-page .product-container .items button {
    padding: 0.5rem 0.8rem;
  }
  #review-page {
    padding: 30px 20px;
    height: 100vh;
  }
  #review-page .ratings-container {
    gap: 30px;
  }
  #review-page .ratings-container .rates .card-section {
    gap: 15px;
  }
  #review-page .ratings-container .rates .card-section .cards .profile {
    width: auto;
    gap: 18px;
  }
  #review-page .ratings-container .rates .card-section .cards .profile img {
    height: 100%;
    width: 70px;
  }
  #review-page .ratings-container .rates .card-section .cards .profile .description {
    height: auto;
    width: 100%;
  }
  #contact-page {
    padding: 30px 20px;
    height: auto;
  }
  #contact-page .contact-container .contact-content {
    padding: 0 20px;
  }
  #contact-page .contact-container .contact-content .socials {
    gap: 20px;
  }
  #contact-page .contact-container .contact-content .socials .social-section p {
    width: 100%;
  }
  #contact-page .contact-container .contact-content .feedback p {
    font-size: 1rem;
  }
  #contact-page .contact-container .contact-content .feedback textarea {
    height: 150px;
    font-size: 13.8px;
  }
  #contact-page .contact-container .contact-content .feedback button {
    padding: 0.5rem 0.8rem;
  }
  #contact-page .card-result {
    top: 28%;
    left: 18%;
    height: 200px;
    width: 250px;
  }
  #contact-page .card-result .section h3 {
    font-size: 1rem;
  }
  #contact-page .card-result .result-section .result {
    font-size: 1rem;
  }
  #contact-page .card-result button {
    width: 30%;
    padding: 5px;
  }
  #contact-page .card-opened {
    top: 30%;
    right: 30%;
    transform: translate(-5%, -5%);
  }
  #footer-page {
    padding: 20px;
    height: auto;
  }
  #footer-page .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }
  #footer-page .footer-container h3 {
    font-size: 1rem;
  }
  #footer-page .footer-container p {
    font-size: 10px;
  }
}/*# sourceMappingURL=responsive.css.map */