* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 15%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  z-index: 3;
  padding: 3% 8%;
}
.header a {
  text-decoration: none;
  color: #fff;
}
.header a h1 {
  font-weight: bold;
  font-size: 32px;
}
.header a h1 span {
  color: #6F4E38;
}
.header ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 1.5rem;
}
.header ul li a {
  text-decoration: none;
  color: #fff;
  position: relative;
  letter-spacing: 1.3px;
}
.header ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 1;
  left: 0;
  bottom: -8px;
  transition: 0.3s;
}
.header ul li a:hover::after {
  width: 100%;
}
.header button {
  background-color: #6F4E38;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  padding: 0.5rem 2rem;
  cursor: pointer;
}
.header button:hover {
  background-color: #303030;
  transition: 0.3s;
}
.header .fa-bars {
  display: none;
}

#landing-page {
  background-color: #303030;
  color: white;
  height: 130vh;
  padding: 8%;
}
#landing-page .landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#landing-page .landing .title h1 {
  font-size: 3.8rem;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: 1px;
  margin-bottom: 32px;
  width: 80%;
}
#landing-page .landing .title p {
  color: #808080;
  width: 50%;
  font-size: 1rem;
}
#landing-page .sidebar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #252525;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  height: 100%;
  width: 25%;
  z-index: 500;
  opacity: 0.9;
  padding: 4rem 2rem;
  transition: all 0.3s ease-in-out;
  transform: translateX(500px);
}
#landing-page .sidebar .content {
  color: #fff;
  width: 100%;
}
#landing-page .sidebar .content .fa-solid {
  color: white;
  font-size: 2rem;
  transform: translateY(-10%);
  cursor: pointer;
}
#landing-page .sidebar .content .fa-solid:hover {
  transform: scale(1.5);
}
#landing-page .sidebar .content form {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#landing-page .sidebar .content form label {
  font-size: 18px;
  margin-bottom: 2px;
}
#landing-page .sidebar .content form input[type=text], #landing-page .sidebar .content form [type=password] {
  margin-bottom: 18px;
  padding: 0.5rem;
}
#landing-page .sidebar .content form input[type=text], #landing-page .sidebar .content form [type=password]:focus {
  outline: none;
}
#landing-page .sidebar .content form button {
  background-color: #6F4E38;
  border: none;
  padding: 0.5rem 2rem;
  cursor: pointer;
  height: 10%;
  width: 45%;
  align-self: center;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}
#landing-page .sidebar .content form button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
#landing-page .sidebar .content .note {
  font-size: 1rem;
  margin-top: 22px;
  text-align: center;
}
#landing-page .sidebar .content .note a {
  color: #00FF38;
  text-decoration: none;
}
#landing-page .sidebar .content .socials {
  margin-top: 5rem;
}
#landing-page .sidebar .content .socials .google {
  font-size: 1rem;
  background-color: white;
  width: 100%;
  border: none;
  color: #000;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding: 0.8rem 0;
  border-radius: 32px;
  margin-bottom: 1rem;
  cursor: pointer;
}
#landing-page .sidebar .content .socials .google:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
#landing-page .sidebar .content .socials .facebook {
  background-color: #3B5998;
  font-size: 1rem;
  width: 100%;
  border: none;
  color: #fff;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 0;
  border-radius: 32px;
  gap: 18px;
  cursor: pointer;
}
#landing-page .sidebar .content .socials .facebook:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
#landing-page .sidebar-mobile {
  position: fixed;
  z-index: 111;
  top: 0;
  right: 0;
  height: 100%;
  width: 35%;
  padding: 25px 15px 10px 15px;
  background-color: rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease-in-out;
  transform: translateX(100%);
}
#landing-page .sidebar-mobile .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
#landing-page .sidebar-mobile .wrapper .fa-solid {
  transform: translateY(1.8px);
  font-size: 25px;
}
#landing-page .sidebar-mobile .wrapper ul li {
  list-style-type: none;
  padding: 10px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1490196078);
}
#landing-page .sidebar-mobile .wrapper ul li a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  position: relative;
}
#landing-page .sidebar-mobile .wrapper ul li:last-child {
  border-bottom: 0;
}
#landing-page .sidebar-mobile .wrapper p {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 13px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.38);
}

#about-page {
  background-color: #303030;
  color: white;
  height: 100vh;
  padding: 5% 8%;
}
#about-page .information {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
#about-page .information .about {
  width: 50%;
}
#about-page .information .about h2 {
  font-size: 3rem;
  font-weight: 700;
  transform: translateY(-75%);
}
#about-page .information .about p {
  text-align: justify;
  font-weight: lighter;
}

#product-page {
  background-color: #303030;
  color: white;
  height: auto;
  padding: 5% 8%;
  position: relative;
}
#product-page .product-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#product-page .product-container .second-title {
  width: 50%;
  transform: translateX(50%);
  text-align: center;
  z-index: 1;
}
#product-page .product-container .second-title h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
#product-page .product-container .second-title p {
  font-size: 1rem;
  color: #808080;
}
#product-page .product-container .items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  height: 100%;
  z-index: 1;
}
#product-page .product-container .items .highlights {
  width: 100%;
  padding-bottom: 4.5rem;
  display: flex;
  justify-content: space-between;
}
#product-page .product-container .items .highlights .coffee {
  text-align: center;
  height: auto;
  width: 100%;
  height: auto;
  position: relative;
}
#product-page .product-container .items .highlights .coffee img {
  height: 100%;
  width: 80%;
}
#product-page .product-container .items .highlights .coffee h3 {
  position: absolute;
  right: 38px;
  bottom: 0;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #000000;
}
#product-page .product-container .items .highlights .coffee:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#product-page .product-container .items .highlights .coffee:hover h3 {
  letter-spacing: 3px;
  transition-delay: 0.1s;
  transition-duration: 0.5s;
}
#product-page .product-container .items .highlights .coffee:hover img {
  box-shadow: 5px 5px 10px black;
  transition: 0.5s;
}
#product-page .product-container .items button {
  background-color: #6F4E38;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  padding: 0.5rem 2rem;
  cursor: pointer;
}
#product-page .product-container .items button:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

#product-page::after {
  content: "";
  position: absolute;
  height: 500px;
  width: 50%;
  background-color: #282828;
  right: 0;
  top: 18%;
  border-radius: 10% 0 0 10%;
}

#review-page {
  background-color: #303030;
  color: white;
  height: 100vh;
  padding: 5% 8%;
}
#review-page .ratings-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#review-page .ratings-container h2 {
  font-size: 3rem;
  font-weight: 700;
  width: 50%;
  line-height: 100%;
}
#review-page .ratings-container .rates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 50px;
}
#review-page .ratings-container .rates .note {
  color: #808080;
  font-size: 1.5rem;
  font-style: italic;
  width: 30%;
}
#review-page .ratings-container .rates .card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  width: 45%;
}
#review-page .ratings-container .rates .card-section .cards {
  background-color: #252525;
  padding: 18px;
  border-radius: 12px;
  width: 100%;
}
#review-page .ratings-container .rates .card-section .cards .profile {
  display: flex;
  align-items: center;
  gap: 20px;
  width: auto;
  height: auto;
}
#review-page .ratings-container .rates .card-section .cards .profile img {
  height: 100%;
  width: 15%;
  border-radius: 50%;
}
#review-page .ratings-container .rates .card-section .cards .profile .description {
  color: #fff;
  width: auto;
}
#review-page .ratings-container .rates .card-section .cards .profile .description p {
  width: auto;
  font-size: 1rem;
  padding-top: 5px;
}

#contact-page {
  background-color: #303030;
  color: white;
  height: 100vh;
  padding: 5% 8%;
}
#contact-page .contact-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}
#contact-page .contact-container h2 {
  font-size: 3rem;
  font-weight: 700;
}
#contact-page .contact-container .contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}
#contact-page .contact-container .contact-content .socials {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#contact-page .contact-container .contact-content .socials .social-section {
  display: flex;
  gap: 2rem;
}
#contact-page .contact-container .contact-content .socials .social-section .logo {
  color: #fff;
  font-size: 28px;
}
#contact-page .contact-container .contact-content .socials .social-section p {
  letter-spacing: 1px;
}
#contact-page .contact-container .contact-content .feedback {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
#contact-page .contact-container .contact-content .feedback p {
  color: #808080;
  font-size: 1.5rem;
  font-style: italic;
}
#contact-page .contact-container .contact-content .feedback textarea {
  resize: none;
  background-color: #fff;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  height: 300px;
  width: 500px;
}
#contact-page .contact-container .contact-content .feedback textarea:focus {
  outline: none;
}
#contact-page .contact-container .contact-content .feedback button {
  align-self: flex-end;
  background-color: #6F4E38;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  padding: 0.5rem 2rem;
  cursor: pointer;
}
#contact-page .card-result {
  visibility: hidden;
  background-color: #6F4E38;
  height: 280px;
  width: 450px;
  padding: 10px 15px;
  left: 0;
  top: 0;
  transform: scale(0.1);
  transition: transform 0.3s, top 0.3s;
  z-index: 10;
  position: fixed;
  border-radius: 10px;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#contact-page .card-result .section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact-page .card-result .section h3 {
  font-size: 1.5rem;
}
#contact-page .card-result .section #close {
  font-size: 2rem;
  cursor: pointer;
}
#contact-page .card-result .result-section {
  height: 100%;
  width: 100%;
  padding: 10px;
}
#contact-page .card-result .result-section #result {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#contact-page .card-result button {
  width: 30%;
  color: #000;
  padding: 8px 10px;
  cursor: pointer;
  background-color: #fafafa;
  border: 0;
  font-weight: bold;
}
#contact-page .card-opened {
  visibility: visible;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}
#contact-page #overlay {
  position: fixed;
  transition: 0.3s;
  z-index: 5;
}
#contact-page #overlay.active {
  opacity: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#footer-page {
  background-color: #000;
  color: white;
  height: 25vh;
  padding: 4% 8%;
}
#footer-page .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#footer-page .footer-container span {
  color: #6F4E38;
}
#footer-page .footer-container p {
  color: #808080;
  font-size: 0.8rem;
}

@media only screen and (max-width: 700px) {
  .header {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    padding: 0 35px;
    height: 80px;
    position: fixed;
    width: 100%;
  }
  .header a h1 {
    font-size: 1.5rem;
  }
  .header ul li {
    display: none;
  }
  .header button {
    display: none;
  }
  .header .fa-bars {
    display: block;
    font-size: 1.5rem;
  }
  #landing-page {
    padding: 80px 35px 50px 35px;
    height: 100vh;
    display: flex;
  }
  #landing-page .landing {
    align-items: center;
    height: auto;
  }
  #landing-page .landing .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(25%);
  }
  #landing-page .landing .title h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  #landing-page .landing .title p {
    text-align: center;
    font-size: 0.8rem;
    width: 60%;
  }
  #landing-page .landing img {
    display: none;
  }
  #about-page {
    height: auto;
    padding: 50px 35px;
  }
  #about-page .information {
    height: auto;
    flex-direction: column;
    gap: 30px;
  }
  #about-page .information .about {
    width: auto;
    height: auto;
  }
  #about-page .information .about h2 {
    font-size: 2rem;
    margin-bottom: 65px;
    width: 200px;
    height: 0;
    transform: translateY(0);
  }
  #about-page .information .about p {
    font-size: 1rem;
    height: 100%;
  }
  #about-page .information img {
    width: 100%;
    height: 280px;
    box-shadow: 5px 5px 10px black;
  }
  #product-page {
    padding: 50px 35px;
    height: auto;
  }
  #product-page .product-container {
    height: auto;
    gap: 3rem;
  }
  #product-page .product-container .second-title {
    width: 50%;
  }
  #product-page .product-container .second-title h2 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  #product-page .product-container .second-title p {
    font-size: 0.8rem;
  }
  #product-page .product-container .items {
    flex-direction: column;
    padding-top: 0;
    gap: 3rem;
  }
  #product-page .product-container .items .highlights {
    flex-direction: column;
    padding-bottom: 0;
    gap: 1rem;
  }
  #product-page .product-container .items .highlights .coffee img {
    height: 200px;
    width: 230px;
    box-shadow: 5px 5px 10px black;
  }
  #product-page .product-container .items .highlights .coffee h3 {
    font-size: 1.5rem;
    right: -5px;
    width: 100%;
  }
  #product-page .product-container .items button {
    font-size: 0.8rem;
    height: auto;
    width: auto;
    padding: 0.8rem;
    transition: none;
  }
  #product-page::after {
    display: none;
  }
  #review-page {
    padding: 50px 35px;
    height: auto;
  }
  #review-page .ratings-container {
    height: auto;
    width: 100%;
  }
  #review-page .ratings-container h2 {
    font-size: 2rem;
    width: 100%;
    margin-bottom: 5px;
  }
  #review-page .ratings-container .rates {
    flex-direction: column;
    height: auto;
    gap: 3rem;
    width: 100%;
  }
  #review-page .ratings-container .rates .note {
    align-self: flex-start;
    width: 65%;
    font-size: 0.8rem;
    font-style: normal;
  }
  #review-page .ratings-container .rates .card-section {
    width: 100%;
  }
  #review-page .ratings-container .rates .card-section .cards {
    height: 100px;
  }
  #review-page .ratings-container .rates .card-section .cards .profile {
    height: 100%;
  }
  #review-page .ratings-container .rates .card-section .cards .profile img {
    height: 100%;
    width: 75px;
  }
  #review-page .ratings-container .rates .card-section .cards .profile .description h3 {
    font-size: 1rem;
  }
  #review-page .ratings-container .rates .card-section .cards .profile .description p {
    font-size: 0.8rem;
  }
  #contact-page {
    padding: 50px 35px;
    height: auto;
  }
  #contact-page .contact-container {
    height: auto;
    gap: 1rem;
    align-items: center;
  }
  #contact-page .contact-container h2 {
    align-self: flex-start;
    font-size: 2rem;
  }
  #contact-page .contact-container .contact-content {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
  #contact-page .contact-container .contact-content .socials {
    gap: 1rem;
    width: 100%;
  }
  #contact-page .contact-container .contact-content .socials .social-section {
    font-size: 1rem;
    align-items: center;
  }
  #contact-page .contact-container .contact-content .socials .social-section .logo {
    font-size: 1.3rem;
  }
  #contact-page .contact-container .contact-content .socials .social-section p {
    font-size: 1rem;
  }
  #contact-page .contact-container .contact-content .feedback {
    width: 100%;
    gap: 1rem;
  }
  #contact-page .contact-container .contact-content .feedback p {
    padding-top: 1.3rem;
    font-size: 1.3rem;
  }
  #contact-page .contact-container .contact-content .feedback textarea {
    width: 100%;
    height: 200px;
    font-size: 18px;
  }
  #contact-page .contact-container .contact-content .feedback button {
    font-size: 0.8rem;
    height: auto;
    width: auto;
    padding: 0.8rem;
  }
  #contact-page .card-result {
    top: 28%;
    left: 25%;
    height: 200px;
    width: 350px;
  }
  #footer-page {
    padding: 50px 35px;
    height: auto;
  }
  #footer-page .footer-container h3 {
    font-size: 1rem;
  }
  #footer-page .footer-container p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 400px) {
  .header {
    padding: 0 30px;
  }
  #landing-page {
    height: 100vh;
    padding: 30px 25px;
  }
  #landing-page .landing .title h1 {
    font-size: 3rem;
    width: 100%;
  }
  #about-page {
    height: auto;
    padding: 30px 25px;
  }
  #about-page .information {
    gap: 25px;
  }
  #about-page .information .about {
    height: auto;
  }
  #about-page .information .about h2 {
    transform: translateY(0);
    height: 0;
  }
  #about-page .information img {
    height: 200px;
  }
  #product-page {
    height: auto;
    padding: 30px 25px;
  }
  #product-page .product-container {
    height: 100%;
    gap: 25px;
  }
  #product-page .product-container .items {
    gap: 40px;
  }
  #product-page .product-container .items .highlights .coffee {
    height: auto;
    width: 100%;
  }
  #product-page .product-container .items .highlights .coffee img {
    height: 180px;
    width: 180px;
  }
  #product-page .product-container .items .highlights .coffee h3 {
    font-size: 1.3rem;
  }
  #review-page {
    padding: 30px 25px;
    height: 100vh;
  }
  #review-page .ratings-container .rates {
    gap: 35px;
  }
  #review-page .ratings-container .rates .card-section {
    gap: 20px;
  }
  #review-page .ratings-container .rates .card-section .cards .profile {
    width: auto;
    gap: 20px;
  }
  #review-page .ratings-container .rates .card-section .cards .profile img {
    height: 100%;
    width: 70px;
  }
  #review-page .ratings-container .rates .card-section .cards .profile .description {
    height: auto;
    width: 100%;
  }
  #contact-page {
    padding: 30px 25px;
    height: auto;
  }
  #contact-page .contact-container .contact-content .feedback p {
    font-size: 1.2rem;
  }
  #contact-page .contact-container .contact-content .feedback textarea {
    height: 180px;
    font-size: 14px;
  }
  #contact-page .contact-container .contact-content .feedback button {
    padding: 0.8rem 1rem;
  }
  #contact-page .card-result {
    height: 200px;
  }
  #contact-page .card-opened {
    top: 40%;
    right: 40%;
    transform: translate(-20%, -20%);
  }
  #footer-page {
    padding: 30px 25px;
    height: auto;
  }
  #footer-page .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }
  #footer-page .footer-container h3 {
    font-size: 1rem;
  }
  #footer-page .footer-container p {
    font-size: 10px;
  }
}
@media only screen and (max-width: 380px) {
  .header {
    width: 100%;
    padding: 20px;
  }
  #landing-page {
    height: 100vh;
    width: 100%;
    padding: 30px 20px;
  }
  #landing-page .landing .title {
    transform: translateY(10%);
  }
  #landing-page .landing .title h1 {
    font-size: 2.3rem;
  }
  #landing-page .landing .title p {
    font-size: 0.8rem;
  }
  #landing-page .sidebar-mobile {
    width: 45%;
  }
  #landing-page .sidebar-mobile .wrapper ul li a {
    font-size: 1rem;
  }
  #about-page {
    height: auto;
    padding: 30px 20px;
  }
  #about-page .information {
    height: auto;
    gap: 20px;
  }
  #about-page .information .about {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  #about-page .information .about h2 {
    font-size: 2rem;
    transform: translateY(0);
    height: 0;
    width: auto;
  }
  #about-page .information .about p {
    font-size: 1rem;
    height: 100%;
  }
  #about-page .information img {
    width: 100%;
    height: 200px;
  }
  #product-page {
    padding: 30px 20px;
    height: auto;
  }
  #product-page .product-container {
    height: 100%;
    gap: 30px;
  }
  #product-page .product-container .second-title {
    transform: translateY(0);
    width: 100%;
    height: auto;
  }
  #product-page .product-container .second-title h2 {
    width: 100%;
    margin: 0;
  }
  #product-page .product-container .second-title p {
    font-size: 0.8rem;
  }
  #product-page .product-container .items {
    height: 100%;
    gap: 45px;
  }
  #product-page .product-container .items .highlights {
    height: 100%;
    gap: 18px;
  }
  #product-page .product-container .items .highlights .coffee {
    height: auto;
    width: 100%;
  }
  #product-page .product-container .items .highlights .coffee img {
    height: 150px;
    width: 200px;
  }
  #product-page .product-container .items .highlights .coffee h3 {
    font-size: 1.3rem;
  }
  #product-page .product-container .items button {
    padding: 0.5rem 0.8rem;
  }
  #review-page {
    padding: 30px 20px;
    height: 100vh;
  }
  #review-page .ratings-container {
    gap: 30px;
  }
  #review-page .ratings-container .rates .card-section {
    gap: 15px;
  }
  #review-page .ratings-container .rates .card-section .cards .profile {
    width: auto;
    gap: 18px;
  }
  #review-page .ratings-container .rates .card-section .cards .profile img {
    height: 100%;
    width: 70px;
  }
  #review-page .ratings-container .rates .card-section .cards .profile .description {
    height: auto;
    width: 100%;
  }
  #contact-page {
    padding: 30px 20px;
    height: auto;
  }
  #contact-page .contact-container .contact-content {
    padding: 0 20px;
  }
  #contact-page .contact-container .contact-content .socials {
    gap: 20px;
  }
  #contact-page .contact-container .contact-content .socials .social-section p {
    width: 100%;
  }
  #contact-page .contact-container .contact-content .feedback p {
    font-size: 1rem;
  }
  #contact-page .contact-container .contact-content .feedback textarea {
    height: 150px;
    font-size: 13.8px;
  }
  #contact-page .contact-container .contact-content .feedback button {
    padding: 0.5rem 0.8rem;
  }
  #contact-page .card-result {
    top: 28%;
    left: 18%;
    height: 200px;
    width: 250px;
  }
  #contact-page .card-result .section h3 {
    font-size: 1rem;
  }
  #contact-page .card-result .result-section .result {
    font-size: 1rem;
  }
  #contact-page .card-result button {
    width: 30%;
    padding: 5px;
  }
  #contact-page .card-opened {
    top: 30%;
    right: 30%;
    transform: translate(-5%, -5%);
  }
  #footer-page {
    padding: 20px;
    height: auto;
  }
  #footer-page .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }
  #footer-page .footer-container h3 {
    font-size: 1rem;
  }
  #footer-page .footer-container p {
    font-size: 10px;
  }
}/*# sourceMappingURL=style.css.map */