$bg-color: #303030;
$subtitle: #808080;
$coffee-color: #6F4E38;
$heading-size: 3rem;
$heading-weight: 700;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 15%;
    backdrop-filter: blur(10px);
    width: 100%;
    z-index: 3;
    padding: 3% 8%;

    a {
        text-decoration: none;
        color: #fff;
        h1 {
            font-weight: bold;
            font-size: 32px;
            span {
                color: $coffee-color;
            }
        }
    }
    
    ul li {
        list-style-type: none;
        display: inline-block;
        margin: 0 1.5rem;
        a {
            text-decoration: none;
            color: #fff;
            position: relative;
            letter-spacing: 1.3px;
        }
        a::after {
            content: "";
            width: 0;
            height: 2px;
            background-color: white;
            position: absolute;
            top: 1;
            left: 0;
            bottom: -8px;
            transition: 0.3s;
        }
        a:hover::after {
            width: 100%;
        }
    }
    button {
       background-color: $coffee-color;
       color: #fff;
       font-size: 15px;
       font-weight: 600;
       border: none;
       padding: .5rem 2rem;
       cursor: pointer;
    }
    button:hover {
        background-color: #303030;
        transition: .3s;
   }
   .fa-bars {
        display: none;
   }
}

#landing-page {
    background-color: $bg-color;
    color: #ffff;
    height: 130vh;
    padding: 8%;
    
    .landing {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        
        .title {
            h1 {
                font-size: 3.8rem;
                font-weight: 900;
                line-height: 100%;
                letter-spacing: 1px;
                margin-bottom: 32px;
                width: 80%;
            }
            p {
                color: $subtitle;
                width: 50%;
                font-size: 1rem;
            }
        }
    }
    .sidebar-mobile {
        position: fixed;
        z-index: 111;
        top: 0;
        right: 0;
        height: 100%;
        padding: 25px 15px 10px 15px;
        background-color: rgba(0, 0, 0, 0.750);
        transition: all .3s ease-in-out;
        transform: translateX(100%);
        .wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .fa-solid {
                transform: translateY(1.8px);
                font-size: 25px;
            }
            ul li {
                list-style-type: none;
                padding: 10px 0px;
                border-bottom: 1px solid #ffffff26;
                a {
                    text-decoration: none;
                    color: #fff;
                    width: 100%;
                    position: relative;
                }
            }
            ul li:last-child {
                border-bottom: 0;
            }
            p {
                position: absolute;
                bottom: 0;
                width: 100%;
                font-size: 13px;
                font-style: italic;
                color: rgba(255, 255, 255, 0.380);
            }
        }
    }
    .active {
        transform: translateX(0);
    }
}

#about-page {
    background-color: $bg-color;
    color: #ffff;
    height: 100vh;
    padding: 5% 8%;
    
    .information {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;

        .about {
            width: 50%;
            h2 {
                font-size: $heading-size;
                font-weight: $heading-weight;
                transform: translateY(-75%);
            }
            p {
                text-align: justify;
                font-weight: lighter;
            }
        }
    }
}

#product-page {
    background-color: $bg-color;
    color: #ffff;
    height: auto;
    padding: 5% 8%;
    position: relative;
    
    .product-container {
        height: 100%;
        display: flex;
        flex-direction: column;

        .second-title {
            width: 50%;
            transform: translateX(50%);
            text-align: center;
            z-index: 1;
            h2 {
                font-size: $heading-size;
                font-weight: $heading-weight;
                margin-bottom: 1rem;
            }
            p {
                font-size: 1rem;
                color: $subtitle;
            }
        }
        
        .items {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding-top: 3rem;
            gap: 1rem;
            height: auto;
            z-index: 1;
            .highlights { 
               height: 100%;
               width: 100%;
               display: flex;
               justify-content: space-between;

                .coffee {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: auto;
                    width: 100%;
                    gap: 1rem;
                    
                    img {
                      height: 70%;
                      width: 70%;
                    }

                    h3 {
                        font-size: 2rem;
                        letter-spacing: 1px;
                        color: #fcfcfc;
                    }
                }
                .coffee:hover{
                    transform: scale(1.1);
                    cursor: pointer;
                    transition: .3s ease-in-out;

                    h3 {
                        letter-spacing: 3px;
                        transition-delay: .1s;
                        transition-duration: 0.5s;
                    }
                    img {
                        box-shadow: 5px 5px 10px black;
                        transition: 0.5s;
                    }
                }
            }
            button {
                background-color: $coffee-color;
                color: #fff;
                font-size: 15px;
                font-weight: 600;
                border: none;
                padding: .5rem 2rem;
                cursor: pointer;
            }
            button:hover {
                transform: scale(1.3);
                transition: .3s;
           }
        }
    }
}
#product-page::after {
    content: '';
    position: absolute;
    height: 500px;
    width: 50%;
    background-color: #282828;
    right: 0;
    top: 15%;
    border-radius: 10% 0 0 10%;
}

#review-page {
    background-color: $bg-color;
    color: #ffff;
    height: 100vh;
    padding: 5% 8%;
    .ratings-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        h2 {
            font-size: $heading-size;
            font-weight: $heading-weight;
            width: 50%;
            line-height: 100%;
        }
        .rates {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            gap: 50px;
            .note {
                color: $subtitle;
                font-size: 1.5rem;
                font-style: italic;
                width: 30%;
            }
            .card-section {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 18px;
                width: 45%;
                .cards {
                    background-color: #252525;
                    padding: 18px;
                    border-radius: 12px;
                    width: 100%;
                    .profile {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        width: auto;
                        height: auto;
    
                        img {
                            height: 100%;
                            width: 15%;
                            border-radius: 50%;
                        }
                        .description {
                            color: #fff;
                            width: auto;
                            p {
                                width: auto;
                                font-size: 1rem;
                                padding-top: 5px;
                            }
                        }
                    }
                }
            }
            
        }
    }
}

#contact-page {
    background-color: $bg-color;
    color: #ffff;
    height: 100vh;
    padding: 5% 8%;
    
    .contact-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        height: 100%;
        
        h2 {
            font-size: $heading-size;
            font-weight: $heading-weight;
        }
        .contact-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            padding: 0 2rem;
            .socials {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .social-section {
                    display: flex;
                    gap: 2rem;
                    .logo {
                        color: #fff;
                        font-size: 28px;
                    }
                    p {
                        letter-spacing: 1px;
                    }
                }
                
            }
            .feedback {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;
                p {
                    color: $subtitle;
                    font-size: 1.5rem;
                    font-style: italic;
                }
                textarea {
                    resize: none;
                    border: 0;
                    background-color: #fff;
                    padding: 10px;
                    font-weight: 600;
                    font-size: 20px;
                    height: 300px;
                    width: 500px;
                }
                textarea:focus {
                    outline: none;
                }
                button {
                    align-self: flex-end;
                    background-color: $coffee-color;
                    color: #fff;
                    font-size: 15px;
                    font-weight: 600;
                    border: none;
                    padding: .5rem 2rem;
                    cursor: pointer;
                    
                }
            }
        }
    }
    .card-result {
        visibility: hidden;
        background-color: $coffee-color;
        height: 280px;
        width: 450px;
        padding: 10px 15px;
        left: 0;
        top: 0;
        transform: scale(0.1);
        transition: transform 0.3s, top 0.3s;
        z-index: 10;
        position: fixed;
        border-radius: 10px;
        box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        .section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h3 {
                font-size: 1.5rem;
            }
            #close {
                font-size: 2rem;
                cursor: pointer;
            }
        }
        .result-section {
            height: 100%;
            width: 100%;
            padding: 10px;
            #result {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }
        button {
            width: 30%;
            color: #000;
            padding: 8px 10px;
            cursor: pointer;
            background-color: #fafafa;
            border: 0;
            font-weight: bold;
        }
    }
    .card-opened {
        visibility: visible;
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%) scale(1); 
    }
    #overlay {
        position: fixed;
        transition: 0.3s;
        z-index: 5;
    }
    #overlay.active {
        opacity: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

#footer-page {
    background-color: #000;
    color: #ffff;
    height: 15vh;
    padding: 4% 8%;
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        span {
            color: $coffee-color;
        }
        p {
            color: $subtitle;
            font-size: .8rem;
        }
    }
}

// Responsiveness
@import "responsive";