* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 15%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  z-index: 3;
  padding: 3% 8%;
}
.header a {
  text-decoration: none;
  color: #fff;
}
.header a h1 {
  font-weight: bold;
  font-size: 32px;
}
.header a h1 span {
  color: #6F4E38;
}
.header ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 1.5rem;
}
.header ul li a {
  text-decoration: none;
  color: #fff;
  position: relative;
  letter-spacing: 1.3px;
}
.header ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 1;
  left: 0;
  bottom: -8px;
  transition: 0.3s;
}
.header ul li a:hover::after {
  width: 100%;
}
.header .fa-bars {
  color: #fff;
  display: none;
}

#landing-page {
  background-color: #303030;
  color: white;
  height: 130vh;
  padding: 8%;
}
#landing-page .landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#landing-page .landing .title h1 {
  font-size: 3.8rem;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: 1px;
  margin-bottom: 32px;
  width: 80%;
}
#landing-page .landing .title p {
  color: #808080;
  width: 50%;
  font-size: 1rem;
}
#landing-page .sidebar-mobile {
  position: fixed;
  z-index: 111;
  top: 0;
  right: 0;
  height: 100%;
  padding: 25px 15px 10px 15px;
  background-color: rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease-in-out;
  transform: translateX(100%);
}
#landing-page .sidebar-mobile .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#landing-page .sidebar-mobile .wrapper .fa-solid {
  transform: translateY(1.8px);
  font-size: 25px;
}
#landing-page .sidebar-mobile .wrapper ul li {
  list-style-type: none;
  padding: 10px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1490196078);
}
#landing-page .sidebar-mobile .wrapper ul li a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  position: relative;
}
#landing-page .sidebar-mobile .wrapper ul li:last-child {
  border-bottom: 0;
}
#landing-page .sidebar-mobile .wrapper p {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 13px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.38);
}
#landing-page .active {
  transform: translateX(0);
}

#about-page {
  background-color: #303030;
  color: white;
  height: 100vh;
  padding: 5% 8%;
}
#about-page .information {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
#about-page .information .about {
  width: 50%;
}
#about-page .information .about h2 {
  font-size: 3rem;
  font-weight: 700;
  transform: translateY(-75%);
}
#about-page .information .about p {
  text-align: justify;
  font-weight: lighter;
}

#product-page {
  background-color: #303030;
  color: white;
  height: auto;
  padding: 5% 8%;
  position: relative;
}
#product-page .product-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#product-page .product-container .second-title {
  width: 50%;
  transform: translateX(50%);
  text-align: center;
  z-index: 1;
}
#product-page .product-container .second-title h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
#product-page .product-container .second-title p {
  font-size: 1rem;
  color: #808080;
}
#product-page .product-container .items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  gap: 1rem;
  height: auto;
  z-index: 1;
}
#product-page .product-container .items .highlights {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#product-page .product-container .items .highlights .coffee {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  gap: 1rem;
}
#product-page .product-container .items .highlights .coffee img {
  height: 70%;
  width: 70%;
}
#product-page .product-container .items .highlights .coffee h3 {
  font-size: 2rem;
  letter-spacing: 1px;
  color: #fcfcfc;
}
#product-page .product-container .items .highlights .coffee:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#product-page .product-container .items .highlights .coffee:hover h3 {
  letter-spacing: 3px;
  transition-delay: 0.1s;
  transition-duration: 0.5s;
}
#product-page .product-container .items .highlights .coffee:hover img {
  box-shadow: 5px 5px 10px black;
  transition: 0.5s;
}
#product-page .product-container .items button {
  background-color: #6F4E38;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  padding: 0.5rem 2rem;
  cursor: pointer;
}
#product-page .product-container .items button:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

#product-page::after {
  content: "";
  position: absolute;
  height: 500px;
  width: 50%;
  background-color: #282828;
  right: 0;
  top: 15%;
  border-radius: 10% 0 0 10%;
}

#review-page {
  background-color: #303030;
  color: white;
  height: 100vh;
  padding: 5% 8%;
}
#review-page .ratings-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#review-page .ratings-container h2 {
  font-size: 3rem;
  font-weight: 700;
  width: 50%;
  line-height: 100%;
}
#review-page .ratings-container .rates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 50px;
}
#review-page .ratings-container .rates .note {
  color: #808080;
  font-size: 1.5rem;
  font-style: italic;
  width: 30%;
}
#review-page .ratings-container .rates .card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  width: 45%;
}
#review-page .ratings-container .rates .card-section .cards {
  background-color: #252525;
  padding: 18px;
  border-radius: 12px;
  width: 100%;
  height: auto;
}
#review-page .ratings-container .rates .card-section .cards .profile {
  display: flex;
  align-items: center;
  gap: 25px;
  width: auto;
  height: auto;
}
#review-page .ratings-container .rates .card-section .cards .profile .elon-musk {
  background: url("../images/musk.jpg") no-repeat;
  background-size: cover;
  height: 80px;
  width: 100px;
  border-radius: 50%;
}
#review-page .ratings-container .rates .card-section .cards .profile .mark-zuckerberg {
  background: url("../images/mark.jpg") no-repeat;
  background-size: cover;
  height: 80px;
  width: 100px;
  border-radius: 50%;
}
#review-page .ratings-container .rates .card-section .cards .profile .bill-gates {
  background: url("../images/bill.jpg") no-repeat;
  background-size: cover;
  height: 80px;
  width: 100px;
  border-radius: 50%;
}
#review-page .ratings-container .rates .card-section .cards .profile .description {
  color: #fff;
  width: 100%;
  height: auto;
}
#review-page .ratings-container .rates .card-section .cards .profile .description p {
  width: auto;
  font-size: 1rem;
  padding-top: 5px;
}

#contact-page {
  background-color: #303030;
  color: white;
  height: 100vh;
  padding: 5% 8%;
}
#contact-page .contact-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}
#contact-page .contact-container h2 {
  font-size: 3rem;
  font-weight: 700;
}
#contact-page .contact-container .contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}
#contact-page .contact-container .contact-content .socials {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#contact-page .contact-container .contact-content .socials .social-section {
  display: flex;
  gap: 2rem;
}
#contact-page .contact-container .contact-content .socials .social-section .logo {
  color: #fff;
  font-size: 28px;
}
#contact-page .contact-container .contact-content .socials .social-section p {
  letter-spacing: 1px;
}
#contact-page .contact-container .contact-content .feedback {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
#contact-page .contact-container .contact-content .feedback p {
  color: #808080;
  font-size: 1.5rem;
  font-style: italic;
}
#contact-page .contact-container .contact-content .feedback textarea {
  resize: none;
  border: 0;
  background-color: #fff;
  padding: 10px;
  font-weight: 600;
  font-size: 1rem;
  height: 300px;
  width: 500px;
}
#contact-page .contact-container .contact-content .feedback textarea:focus {
  outline: none;
}
#contact-page .contact-container .contact-content .feedback button {
  align-self: flex-end;
  background-color: #6F4E38;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  padding: 0.5rem 2rem;
  cursor: pointer;
}
#contact-page .card-result {
  visibility: hidden;
  background-color: #6F4E38;
  height: 280px;
  width: 450px;
  padding: 10px 15px;
  left: 0;
  top: 0;
  transform: scale(0.1);
  transition: transform 0.3s, top 0.3s;
  z-index: 10;
  position: fixed;
  border-radius: 10px;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#contact-page .card-result .section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact-page .card-result .section h3 {
  font-size: 1.5rem;
}
#contact-page .card-result .section #close {
  font-size: 2rem;
  cursor: pointer;
}
#contact-page .card-result .result-section {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
#contact-page .card-result button {
  width: 30%;
  color: #000;
  padding: 8px 10px;
  cursor: pointer;
  background-color: #fafafa;
  border: 0;
  font-weight: bold;
}
#contact-page .card-opened {
  visibility: visible;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}
#contact-page #overlay {
  position: fixed;
  transition: 0.3s;
  z-index: 5;
}
#contact-page #overlay.active {
  opacity: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#footer-page {
  background-color: #000;
  color: white;
  height: 15vh;
  padding: 4% 8%;
}
#footer-page .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#footer-page .footer-container span {
  color: #6F4E38;
}
#footer-page .footer-container p {
  color: #808080;
  font-size: 0.8rem;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .header {
    height: 15%;
    width: 100%;
    padding: 0 7%;
  }
  .header a h1 {
    font-size: 30px;
  }
  .header ul li {
    font-size: 17px;
    margin: 0 9px;
  }
  .header li:last-child {
    margin-right: 0;
  }
  #landing-page {
    height: 100vh;
    width: 100%;
    padding: 0 7%;
  }
  #landing-page .landing {
    gap: 50px;
  }
  #landing-page .landing .title h1 {
    width: 100%;
    font-size: 3rem;
  }
  #landing-page .landing .title p {
    width: 100%;
    font-size: 18px;
  }
  #landing-page .landing img {
    height: 480px;
    width: 480px;
  }
  #about-page {
    height: auto;
    width: 100%;
    padding: 7%;
  }
  #about-page .information {
    height: 100%;
    width: 100%;
    gap: 3rem;
  }
  #about-page .information .about {
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #about-page .information .about h2 {
    font-size: 2.8rem;
    transform: translateY(0);
  }
  #about-page .information .about p {
    font-size: 1rem;
  }
  #about-page .information img {
    width: 50%;
  }
  #product-page {
    height: auto;
    width: 100%;
    padding: 7%;
  }
  #product-page .product-container {
    height: 100%;
    width: 100%;
  }
  #product-page .product-container .second-title h2 {
    font-size: 2.8rem;
    margin-bottom: 8px;
  }
  #product-page .product-container .second-title p {
    font-size: 1rem;
  }
  #product-page .product-container .items {
    gap: 1.5rem;
    padding-top: 2.5rem;
  }
  #product-page .product-container .items .highlights {
    gap: 1rem;
  }
  #product-page .product-container .items .highlights .coffee img {
    width: 85%;
  }
  #product-page .product-container .items .highlights .coffee h3 {
    font-size: 1.8rem;
  }
  #product-page .product-container .items button {
    padding: 10px 18px;
  }
  #product-page::after {
    display: none;
  }
  #review-page {
    height: auto;
    width: 100%;
    padding: 7%;
  }
  #review-page .ratings-container {
    gap: 1rem;
  }
  #review-page .ratings-container h2 {
    font-size: 2.8rem;
  }
  #review-page .ratings-container .rates .note {
    font-size: 1.5rem;
    width: 30%;
    font-style: normal;
  }
  #review-page .ratings-container .rates .card-section {
    width: 50%;
  }
  #contact-page {
    height: auto;
    width: 100%;
    padding: 7%;
  }
  #contact-page .contact-container h2 {
    font-size: 2.8rem;
  }
  #contact-page .contact-container .contact-content {
    padding: 0;
    gap: 2rem;
  }
  #contact-page .contact-container .contact-content .socials .social-section p {
    font-size: 1rem;
  }
  #contact-page .contact-container .contact-content .feedback p {
    font-style: normal;
    font-size: 1.3rem;
  }
  #contact-page .contact-container .contact-content .feedback textarea {
    width: 100%;
    font-size: 1rem;
  }
  #contact-page .contact-container .contact-content .feedback button {
    padding: 10px 18px;
  }
  #footer-page {
    height: auto;
    width: 100%;
    padding: 5% 7%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .header {
    height: 15%;
    width: 100%;
    padding: 0 5%;
  }
  .header a h1 {
    font-size: 30px;
  }
  .header ul li {
    font-size: 15px;
    margin: 0 8px;
  }
  .header ul li:last-child {
    margin-right: 0;
  }
  #landing-page {
    height: 100vh;
    width: 100%;
    padding: 0 5%;
  }
  #landing-page .landing {
    gap: 30px;
    transform: translateY(5%);
  }
  #landing-page .landing .title h1 {
    width: 100%;
    font-size: 2.5rem;
  }
  #landing-page .landing .title p {
    width: 80%;
    font-size: 15px;
  }
  #landing-page .landing img {
    height: 400px;
    width: 400px;
  }
  #about-page {
    height: auto;
    width: 100%;
    padding: 5%;
  }
  #about-page .information {
    height: auto;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
  }
  #about-page .information .about {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #about-page .information .about h2 {
    font-size: 2.3rem;
    transform: translateY(0);
  }
  #about-page .information .about p {
    font-size: 1rem;
  }
  #about-page .information img {
    width: 500px;
  }
  #product-page {
    height: auto;
    width: 100%;
    padding: 5%;
  }
  #product-page .product-container {
    height: 100%;
    width: 100%;
    gap: 2rem;
  }
  #product-page .product-container .second-title h2 {
    font-size: 2.3rem;
    margin: 0;
  }
  #product-page .product-container .items {
    height: 100%;
    width: 100%;
    gap: 1.5rem;
    padding-top: 1rem;
  }
  #product-page .product-container .items .highlights {
    gap: 1rem;
  }
  #product-page .product-container .items .highlights .coffee {
    gap: 1rem;
  }
  #product-page .product-container .items .highlights .coffee img {
    width: 80%;
  }
  #product-page .product-container .items .highlights .coffee h3 {
    font-size: 1.5rem;
  }
  #product-page .product-container .items button {
    padding: 10px 15px;
    font-size: 13px;
  }
  #product-page::after {
    display: none;
  }
  #review-page {
    padding: 5%;
    height: auto;
    width: 100%;
  }
  #review-page .ratings-container {
    gap: 1rem;
  }
  #review-page .ratings-container h2 {
    font-size: 2.3rem;
  }
  #review-page .ratings-container .rates {
    flex-direction: column;
  }
  #review-page .ratings-container .rates .note {
    font-size: 1rem;
    width: 50%;
    align-self: start;
    font-style: normal;
  }
  #review-page .ratings-container .rates .card-section {
    width: 100%;
  }
  #review-page .ratings-container .rates .card-section .cards .profile {
    width: 100%;
  }
  #review-page .ratings-container .rates .card-section .cards .profile img {
    height: 50px;
    width: 50px;
  }
  #contact-page {
    padding: 5%;
    height: auto;
    width: 100%;
  }
  #contact-page .contact-container {
    gap: 1rem;
  }
  #contact-page .contact-container h2 {
    font-size: 2.3rem;
  }
  #contact-page .contact-container .contact-content {
    padding: 0;
    width: 100%;
    gap: 1rem;
    flex-direction: column;
  }
  #contact-page .contact-container .contact-content .socials {
    width: 100%;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
  #contact-page .contact-container .contact-content .socials .social-section {
    gap: 1.5rem;
    align-items: center;
  }
  #contact-page .contact-container .contact-content .socials .social-section p {
    font-size: 1rem;
  }
  #contact-page .contact-container .contact-content .feedback {
    height: 50%;
    width: 100%;
  }
  #contact-page .contact-container .contact-content .feedback p {
    font-size: 1rem;
    font-style: normal;
  }
  #contact-page .contact-container .contact-content .feedback textarea {
    height: 250px;
    width: 100%;
    font-size: 1rem;
  }
  #contact-page .contact-container .contact-content .feedback button {
    padding: 10px 15px;
    font-size: 13px;
  }
  #footer-page {
    padding: 5%;
    height: auto;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    height: 13%;
    width: 100%;
    padding: 0 5%;
  }
  .header a h1 {
    font-size: 1.5rem;
  }
  .header ul li {
    display: none;
  }
  .header .fa-bars {
    display: block;
    font-size: 1.5rem;
  }
  #landing-page {
    height: 100vh;
    width: 100%;
    padding: 0 5%;
  }
  #landing-page .landing {
    height: 100%;
    width: 100%;
  }
  #landing-page .landing .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #landing-page .landing .title h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    width: 80%;
  }
  #landing-page .landing .title p {
    font-size: 1rem;
  }
  #landing-page .landing img {
    display: none;
  }
  #landing-page .sidebar-mobile {
    width: 45%;
  }
  #about-page {
    height: auto;
    width: 100%;
    padding: 8% 5%;
  }
  #about-page .information {
    height: auto;
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
  }
  #about-page .information .about {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #about-page .information .about h2 {
    font-size: 2.5rem;
    transform: translateY(0);
  }
  #about-page .information .about p {
    font-size: 1rem;
  }
  #about-page .information img {
    width: 100%;
    height: 200px;
  }
  #product-page {
    height: auto;
    width: 100%;
    padding: 8% 5%;
  }
  #product-page .product-container {
    height: 100%;
    width: 100%;
    gap: 1.5rem;
  }
  #product-page .product-container .second-title {
    width: 100%;
    transform: translateX(0);
  }
  #product-page .product-container .second-title h2 {
    font-size: 2.5rem;
    margin: 0;
  }
  #product-page .product-container .second-title p {
    font-size: 1rem;
  }
  #product-page .product-container .items {
    padding-top: 0;
    flex-direction: column;
    gap: 1.5rem;
  }
  #product-page .product-container .items .highlights {
    flex-direction: column;
    padding-bottom: 0;
    gap: 1.5rem;
  }
  #product-page .product-container .items .highlights .coffee {
    height: 100%;
    width: 100%;
    align-items: center;
  }
  #product-page .product-container .items .highlights .coffee img {
    width: 50%;
    height: 180px;
  }
  #product-page .product-container .items .highlights .coffee h3 {
    width: auto;
    font-size: 1.5rem;
  }
  #product-page .product-container .items button {
    padding: 8px 15px;
    font-size: 13px;
  }
  #product-page::after {
    display: none;
  }
  #review-page {
    height: auto;
    width: 100%;
    padding: 8% 5%;
  }
  #review-page .ratings-container {
    height: 100%;
    gap: 1rem;
  }
  #review-page .ratings-container h2 {
    width: 100%;
    font-size: 2.5rem;
  }
  #review-page .ratings-container .rates {
    flex-direction: column;
    height: 100%;
    gap: 1rem;
  }
  #review-page .ratings-container .rates .note {
    width: 100%;
    font-style: normal;
    font-size: 1rem;
  }
  #review-page .ratings-container .rates .card-section {
    width: 100%;
    gap: 1rem;
  }
  #review-page .ratings-container .rates .card-section .cards .profile {
    gap: 30px;
    width: 100%;
    height: 100%;
  }
  #review-page .ratings-container .rates .card-section .cards .profile .description {
    width: 100%;
    height: 100%;
  }
  #contact-page {
    height: auto;
    width: 100%;
    padding: 8% 5%;
  }
  #contact-page .contact-container {
    height: 100%;
    gap: 1rem;
  }
  #contact-page .contact-container h2 {
    font-size: 2.5rem;
  }
  #contact-page .contact-container .contact-content {
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;
    gap: 1.5rem;
  }
  #contact-page .contact-container .contact-content .socials {
    width: 100%;
    padding-left: 1.5rem;
    gap: 2rem;
  }
  #contact-page .contact-container .contact-content .socials .social-section {
    gap: 1rem;
    align-items: center;
  }
  #contact-page .contact-container .contact-content .socials .social-section .logo {
    font-size: 20px;
    width: auto;
  }
  #contact-page .contact-container .contact-content .socials .social-section p {
    font-size: 1rem;
    width: 100%;
    padding-left: 1rem;
  }
  #contact-page .contact-container .contact-content .feedback {
    width: 100%;
  }
  #contact-page .contact-container .contact-content .feedback p {
    font-size: 1rem;
    font-style: normal;
  }
  #contact-page .contact-container .contact-content .feedback textarea {
    height: 200px;
    border: none;
    width: 100%;
    font-size: 1rem;
  }
  #contact-page .contact-container .contact-content .feedback button {
    padding: 8px 15px;
    font-size: 13px;
  }
  #contact-page .card-result {
    height: 30%;
    width: 80%;
    padding: 10px;
    gap: 8px;
  }
  #contact-page .card-result .section {
    width: auto;
    text-align: center;
  }
  #contact-page .card-result .section h3 {
    font-size: 1.3rem;
  }
  #contact-page .card-result .result-section {
    padding: 8px;
  }
  #footer-page {
    height: auto;
    width: 100%;
    padding: 5%;
  }
  #footer-page .footer-container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: start;
  }
  #footer-page .footer-container h3 {
    font-size: 1rem;
  }
  #footer-page .footer-container p {
    font-size: 0.6rem;
  }
}/*# sourceMappingURL=style.css.map */